- const page = {title: "Home"}

doctype html
html(lang='en')
    //- Head tag
    include ../components/head.pug

    body
        //- Content
        .page
            include ../components/header.pug
            include ../components/intro-container.pug
            include ../components/apm-projects-container.pug
            include ../components/ui-short.pug
            include ../components/design-short.pug


        //- Footer
        include ../components/footer.pug