//- TO DO
//- 
//- Fix Nav Bar selected item in pug

- const page = {title: "Home"}


doctype html
html(lang='en')
    //- Head tag
    include ../components/head.pug

    body
        //- Content
        .page
            include ../components/header.pug
            include ../components/intro-container.pug
            h1= page.title
            include ../components/projects-container.pug
            include ../components/think-short.pug

        //- Footer
        include ../components/footer.pug