doctype html
html(lang='en')
    include ../components/head.pug

    body
        .page
            include ../components/header.pug
            include ../components/intro-container.pug
            include ../components/projects-container.pug
            include ../components/mentalmodels-short.pug
            
        include ../components/footer.pug