doctype html
html(lang='en')
    //- Head tag
    include ../components/head.pug

    body
        //- Content
        .page
            include ../components/header.pug
            //- INCLUDE PROJECT CONTENT
        
        //- Footer
        include ../components/footer.pug