- const page = {title: "Project name"}

doctype html
html(lang='en')
    //- Head tag
    include ../components/head.pug

    body
        //- Content
        .page
            include ../components/header.pug
            include ../components/project-content-2.pug
        
        //- Footer
        include ../components/footer.pug