doctype html
html(lang='en')
    //- Head tag
    include ../components/head.pug

    body
        //- Content
        .page
            include ../components/header.pug
            include ../components/project-content.pug
        
        //- Footer
        include ../components/footer.pug