- const page = {title: "Projects"}

doctype html
html(lang='en')
    //- Head tag
    include ../components/head.pug

    body
        //- Content
        .page
            include ../components/header.pug
            include ../components/react-native-app.pug
        
        //- Footer
        include ../components/footer.pug