a#email-link
    .navigation-bar-item(style='width: 80px;')
        div(style='display: flex; align-items: center; justify-content: center; padding-top: 4px; height: 38px;')
            img(src='./style/images/envelope.svg', alt='Contact me' style='width: 20px;')      
//- Add email address dynamically to avoid
script.
    const userNav = 'name';
    const domainNav = 'gmail.com';
    const emailAddressNav = 'mailto:' + userNav + "@" + domainNav;
    document.getElementById('email-link').setAttribute('href', emailAddressNav);