a#email-link
    .navigation-bar-item(style='width: 80px;')
        div(style='display: flex; align-items: center; justify-content: center; padding-top: 4px; height: 90.5%;')
            img(src='./style/images/envelope.svg', alt='Contact me' style='width: 20px;')            
//- Add email address dynamically to avoid
script(type='text/javascript').
    const user = 'name';
    const domain = 'gmail.com';
    const emailAddress = 'mailto:' + user + "@" + domain;
    document.getElementById('email-link').setAttribute('href', emailAddress);