.content
  .content-title.title-page A bit more 
    span.highlighted-text about me
  .content-box
    //- .article-width
    .section
      .single-column
        h4 I’m a UX designer with strong Frontend development skills,
        p
          | but more than anything, I enjoy dissecting the big picture and making sense of complexity. I understand that everything has a trade-off.
          | I like to challenge conventional wisdom and to explore unusual ideas.
    .section  
      .single-column
        h4 I’m an entrepreneurial spirit and an obsessive reader
        p
          | Passionate about tech and startups and thinking about product strategy. 
          | I have a formal background in Computer Science, Business Administration (Bachelor's) and User Experience Design (Master's).
          | In my spare time I experiment with side projects (mostly web apps). I enjoy seeing the difference that my products make in people's lives.
    //- .section  
    //-   .single-column
    //-     blockquote
    //-       | Follow the path of the unsafe, independent thinker. 
    //-       | Expose your ideas to the dangers of controversy. 
    //-       | Speak your mind and fear less the label of ’crack-pot’ than the stigma of conformity. 
    //-       cite  
    //-         | —	Thomas J. Watson
    .section(style="min-height: 0px !important;")
      .single-column
        div(style='text-align: center;')
            a#email-button
              .ghost-button
                img.button-icon(src='./style/images/envelope-solid.svg', alt='Email')
                | Email
            a(href="https://github.com/stoico/dimartino" target="_blank")
              .ghost-button
                img.button-icon(src='./style/images/github.svg', alt='Github')
                | Github
            a(href="https://www.linkedin.com/in/carmine-dimartino/" target="_blank")
              .ghost-button
                img.button-icon(src='./style/images/linkedin.svg', alt='Linkedin')
                | Linkedin
  .content-title.title-page(style="margin-top: 60px !important;") My 
    span.highlighted-text toolkit
  .content-box
    .section(style="min-height: 0px !important;")
      .section-label.neon-green-label Product Design
      .single-column(style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; ")
        p(style="margin-top: 20px !important;") Sketch 
        p(style="margin-top: 20px !important;") inVision
        p(style="margin-top: 20px !important;") Framer 
        p(style="margin-top: 20px !important;") Adobe CC
  .content-box(style="margin-bottom: 30px !important;")
    .section(style="min-height: 0px !important;")
      .section-label.neon-green-label Frontend Development
      .single-column(style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; ")
        p(style="margin-top: 20px !important;") JavaScript 
        p(style="margin-top: 20px !important;") React
        p(style="margin-top: 20px !important;") HTML
        p(style="margin-top: 20px !important;") CSS
        p(style="margin-top: 20px !important;") Vue.js 
        p(style="margin-top: 20px !important;") Python
script.
    document.getElementById('email-button').setAttribute('href', emailAddressNav);