.content
  .content-title.title-page A bit more 
    span.highlighted-text about me
  .content-box
    //- .article-width
    .section
      .single-column
        h4 Hi there 👋🏻 I’m a UX designer with strong Frontend development skills
        p
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie gummi bears
          b  toffee
          |  lemon drops bonbon pie cake. Danish soufflé
          | brownie soufflé jelly biscuit.
    .section  
      .single-column
        h4 I’m an entrepreneurial spirit 
        p
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie gummi bears
          b  toffee
          |  lemon drops bonbon pie cake. Danish soufflé
          | brownie soufflé jelly biscuit.
    .section  
      .single-column
        h4 And an obsessive reader
        p
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie gummi bears
          b  toffee
          |  lemon drops bonbon pie cake. Danish soufflé
          | brownie soufflé jelly biscuit.
    .section  
      .single-column
        h4 My source of Inspirations
        p
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie gummi bears
          b  toffee
          |  lemon drops bonbon pie cake. Danish soufflé
          | brownie soufflé jelly biscuit.
        blockquote
          | Follow the path of the unsafe, independent thinker. 
          | Expose your ideas to the dangers of controversy. 
          | Speak your mind and fear less the label of ’crack-pot’ than the stigma of conformity. 
          | And on issues that seem important to you, stand up and be counted at any cost.
          cite  
            | —	Thomas J. Watson
        p
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie 
          b  gummi bears
          |  toffee
          | lemon drops bonbon pie cake. Danish soufflé brownie soufflé
          | jelly biscuit.
    .section  
      .single-column
        .content-heading Education
        ul.tech
          li
            img.tech-icon(src='./style/images/graduation-cap.svg', alt='HTML5')
            | MA, User Experience Design
            span(style="font-size: 15px; display: inherit; margin: 10px 0 0 45px;") Loughborough University
          li
            img.tech-icon(src='./style/images/graduation-cap.svg', alt='CSS')
            | BSc, Computer Science and Business Administration
            span(style="font-size: 15px; display: inherit; margin: 10px 0 0 45px;")  University of Kent
    .section  
      .single-column
        .content-heading Say hello
        div(style='text-align: center; margin-top: 30px;')
          .button-border
            a#email-button
              .button-action
                img.button-icon(src='./style/images/envelope-solid.svg', alt='Email')
                | Email
          .button-border
            a(href="https://github.com/stoico/dimartino" target="_blank")
              .button-action
                img.button-icon(src='./style/images/github.svg', alt='Github')
                | Github
          .button-border
            a(href="https://www.linkedin.com/in/carmine-dimartino/" target="_blank")
              .button-action
                img.button-icon(src='./style/images/linkedin.svg', alt='Linkedin')
                | Linkedin
  .content-title.title-page(style="margin-top: 100px !important;") My 
    span.highlighted-text toolkit
  .content-box
    .section(style="min-height: 0px !important;")
      .section-label.neon-green-label Product Design
      .single-column(style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; ")
        p(style="margin-top: 20px !important;") Sketch 
        p(style="margin-top: 20px !important;") inVision
        p(style="margin-top: 20px !important;") Framer 
        p(style="margin-top: 20px !important;") Adobe CC
  .content-box
    .section(style="min-height: 0px !important;")
      .section-label.neon-green-label Frontend Development
      .single-column(style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; ")
        p(style="margin-top: 20px !important;") JavaScript 
        p(style="margin-top: 20px !important;") React
        p(style="margin-top: 20px !important;") HTML
        p(style="margin-top: 20px !important;") CSS
        p(style="margin-top: 20px !important;") Vue.js 
        p(style="margin-top: 20px !important;") Python
script.
    document.getElementById('email-button').setAttribute('href', emailAddressNav);