.main-container.red-gradient
  include ../particles/toggle-switch.pug
  .content-container
    .content-title About me
    .content-body
      article.article-width
        .content-heading Description
        .content-subheading
          | One-liner to explain what the project consists of
        .content-paragraph
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie gummi bears
          b  toffee
          |  lemon drops bonbon pie cake. Danish soufflé
          | brownie soufflé jelly biscuit.
        blockquote
          | Follow the path of the unsafe, independent thinker. 
          | Expose your ideas to the dangers of controversy. 
          | Speak your mind and fear less the label of ’crack-pot’ than the stigma of conformity. 
          | And on issues that seem important to you, stand up and be counted at any cost.
          cite  
            | —	Thomas J. Watson
        .content-heading Skills
        .content-paragraph
          div(style="flex: 1; margin: 10px 0; flex-direction: row; align-items: center;")
            div(style="display:inline-block; padding: 0 16px; font-size: 14px; background: hsla(184, 100%, 41%, 0.12); border-radius: 20px;")
              | User research
            div(style="display:inline-block; padding: 0 16px; font-size: 14px; background: hsla(184, 100%, 41%, 0.12); border-radius: 20px;")
              | Prototyping
            div(style="display:inline-block; padding: 0 16px; font-size: 14px; background: hsla(184, 100%, 41%, 0.12); border-radius: 20px;")
              | Usability testing
            div(style="display:inline-block; padding: 0 16px; font-size: 14px; background: hsla(184, 100%, 41%, 0.12); border-radius: 20px;")
              | Product design
            div(style="display:inline-block; padding: 0 16px; font-size: 14px; background: hsla(184, 100%, 41%, 0.12); border-radius: 20px;")
              | Front-end development
        .content-paragraph
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie 
          b  gummi bears
          |  toffee
          | lemon drops bonbon pie cake. Danish soufflé brownie soufflé
          | jelly biscuit.
        script(type='text/javascript').
          user = "info";
          domain = "mysite.com";
          document.write(
          'E-mail: <a href="mailto:' +
          user +
          "@" +
          domain +
          '">' +
          user +
          "@" +
          domain +
          "</a>"
          );
        .content-heading Tech stack
        ul.tech
          li
            img.tech-icon(src='./style/images/html5.svg', alt='HTML5')
            | HTML
          li
            img.tech-icon(src='./style/images/css3.svg', alt='CSS')
            | CSS
          li
            img.tech-icon(src='./style/images/js.svg', style='width: 20px', alt='JavaScript')
            | JavaScript
          li
            img.tech-icon(src='./style/images/backbone.svg', alt='Backbone.js')
            | Backbone.js
        div(style='text-align: center; margin-top: -22px;')
          .button-border
            .button-action
              img.button-icon(src='./style/images/envelope-solid.svg', alt='Github')
              | Email
          .button-border
            .button-action
              img.button-icon(src='./style/images/github.svg', alt='Github')
              | Github
          .button-border
            .button-action
              img.button-icon(src='./style/images/linkedin.svg', alt='Linkedin')
              | Linkedin
