.main-container.shorter-container.rosy-gradient
  .content-container
    .content-title My Design Process
    article.article-width.author-home-margin
      .project-poster
        img(srcset="./style/images/design-methodology@2x.png 2x, ./style/images/design-methodology.png 1x"
            src="./style/images/design-methodology.png"
            alt="Design and UX Methodology diagram")
      .content-paragraph(style="margin: 40px 0 20px;")
        | The two mindsets that most influenced my thinking are
        | the Double Diamond framework and the Lean Startup methodology.
        | Here I integrated the two approaches. I use this model as a general
        | guide in my research and development process. 
      .content-paragraph(style="margin: 0 0 20px;")
        | Other sources who helped develop my thinking are: Steve Blank's Customer Development
        | (The Startup Owner's Manual), Clayton Christensen's Innovator's Dilemma and Jobs-to-Be-Done theory, 
        | and Rita Gunther McGrath's Transient Advantage and 'The End of Competitive Advantage'.

