.content
  .content-title.title-page Startup Map
  .content-subtitle 
    | A single-page (Vue, Vuex, Nuxt) dictionary-management system to check the consistency of entries within the dictionary
    | It allows to create, remove or edit entries as well as entirely new dictionaries. 
    | It highlights and shows errors in the dictionary.

  .content-box
    .section
        img(srcset="./style/images/dict-management@2x.png 2x, ./style/images/dict-management.png 1x"
            src="./style/images/dict-management.png"
            alt="Startup Map web app")

div(style='text-align: center; margin-top: 15px')
    a(href="https://stoico.github.io/dictionary-management/" target="_blank")
      .ghost-button
        img.button-icon
        | See demo
    a(href="https://github.com/stoico/dictionary-management/" target="_blank")
      .ghost-button
        img.button-icon(src='./style/images/github.svg', alt='Github')
        | Github