.content
  .content-title.title-page Full-stack Python web app
  .content-subtitle A catalog built with Flask, SQLite and Google APIs for authentication and authorization.
  .content-box
    .section
      img(srcset="./style/images/flask-app@2x.png 2x, ./style/images/flask-app.png 1x"
          src="./style/images/flask-app.png"
          alt="React Native app")

div(style='text-align: center; margin-top: 15px')
    a(href="https://github.com/stoico/dimartino" target="_blank")
      .ghost-button
        img.button-icon
        | See demo
    a(href="https://github.com/stoico/dimartino" target="_blank")
      .ghost-button
        img.button-icon(src='./style/images/github.svg', alt='Github')
        | Github