.content
  .content-title.title-page Full-stack Python web app
  .content-subtitle A catalog built with Flask, SQLite and Google APIs for authentication and authorization.
  .content-box
    .section

div(style='text-align: center; margin-top: 15px')
    a(href="https://github.com/stoico/dimartino" target="_blank")
      .ghost-button
        img.button-icon
        | See demo
    a(href="https://github.com/stoico/dimartino" target="_blank")
      .ghost-button
        img.button-icon(src='./style/images/github.svg', alt='Github')
        | Github