header
    a(href='index.html')
        .logo

    .navigation-bar
        //- Add conditional class to show active navigation item 
        a(href='index.html')
            .navigation-bar-item(class=(page.title === 'Home' ? 'active-item-fuchsia' : ''))
                div Home
        a(href='portfolio.html')
            .navigation-bar-item(class=(page.title === 'Portfolio' ? 'active-item-acquamarine' : ''))
                div Portfolio
        a(href='aboutme.html')
            .navigation-bar-item(class=(page.title === 'About me' ? 'active-item-redorange' : ''))
                div About me
        include ../particles/email-nav-item.pug
