header
    a(href='index.html')
        .logo

    .navigation-bar
        a(href='index.html')
            .navigation-bar-item.active-item-fuchsia
                div Home
        a(href='portfolio.html')
            .navigation-bar-item
                div Portfolio
        a(href='aboutme.html')
            .navigation-bar-item
                div About me
