header
    .menu
        a(href='index.html')
            .logo

        .navigation-bar
            //- Add conditional class to show active navigation item 
            a(href='index.html')
                .navigation-bar-item(class=(page.title === 'Home' ? 'active-item' : ''))
                    p Home
            a(href='projects.html')
                .navigation-bar-item(class=(page.title === ('Projects' || 'Project Name') ? 'active-item' : ''))
                    p Projects
            a(href='method.html')
                .navigation-bar-item(class=(page.title === 'Methodology' ? 'active-item' : ''))
                    p My 'How'
            a(href='aboutme.html')
                .navigation-bar-item(class=(page.title === 'About me' ? 'active-item' : ''))
                    p About me
            //- include ../particles/email-nav-item.pug