//- include ../particles/toggle-switch.pug
.content-box.align-center-content.taller
    .content-title.index-title Here to check out 
        div my 
            span.highlighted-text projects?
    a(href="projects.html").ghost-button.green-styled Take a look
      span.arrow-spacing →
