//- include ../particles/toggle-switch.pug
.content-box.align-center-content.taller
    .content-title.index-title I can help you design smooth 
      span.highlighted-text user experiences
    a(href="method.html").ghost-button See how
      span.arrow-spacing →
