//- include ../particles/toggle-switch.pug
.content-box.align-center-content.taller
    .content-title.index-title
        div I'm a well-rounded 
        span.highlighted-text UX Designer 
        | who can code
    a(href="aboutme.html").ghost-button More about me 
      span.arrow-spacing →