.main-container.shorter-container.pink-gradient
  include ../particles/toggle-switch.pug
  .content-container
    article.article-width
      div(style='display:flex; flex-direction: row; align-items: center; height: auto;')
        div(style='flex: 0.7; padding-right: 10px; display: flex; flex-direction: column; justify-content: center;')
          .content-subheading
            | I'm Carmine, a UX and Product Designer
          .content-paragraph(style='padding-bottom: 0;')
            | A background in Computer Science and Business. I enjoy 
            | dissecting the big picture and have a strong interest in how 
            | products win (product strategy). Sometimes I argue for 
            | things I don’t actually believe in to explore opposing ideas.
        div(style='flex: 0.3;')
          .right-image
            img(src='./style/images/profile.png', alt='Profile')
