.main-container.shorter-container.pink-gradient
  .content-container
    article.article-width(style='width: 83% !important; margin-bottom: 24px !important;')
      div(style='display:flex; flex-direction: row; height: auto; margin-bottom: 15px;')
        div(style='flex: 0.7; padding-right: 10px; display: flex; flex-direction: column; justify-content: center;')
          .content-subheading
            | I'm Carmine, a UX and Product Designer
          .content-paragraph(style='padding-bottom: 0;')
            | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
            | chocolate bar I love. Caramels pie gummi bears toffee lemon
            | drops bonbon pie cake. Danish soufflé brownie soufflé jelly
            | biscuit.
        div(style='flex: 0.3;')
          .right-image
            img(src='./style/images/profile.png', alt='Profile')
