.main-container.shorter-container.green-gradient
  .content-container
    .content-title The Way I Think
    article.article-width.author-home-margin
      .content-subheading
        | A collection of my
        span.highlight.blue mental models
      .content-paragraph
        | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
        | chocolate bar I love. Caramels pie gummi bears toffee lemon drops
        | bonbon pie cake. Danish soufflé brownie soufflé jelly biscuit.
