.main-container.just-blue-gradient
  include ../particles/toggle-switch.pug
  .content-container
    .content-title Startup Map - Knockout.js
    .content-body
      .poster-image
        img(srcset='\
        ./style/images/image@2x.png 2x,\
        ./style/images/image.png    1x\
        ', src='./style/images/image.png')
      article.article-width
        div(style='text-align: center; margin-top: -42px;')
          a(href="https://stoico.github.io/startup-map/" title="See demo" target="_blank")
            .button-border
              .button-action
                img.button-icon(src='./style/images/eye.svg', alt='See demo', style='width: 24px')
                | Demo
        .content-heading A reactive web application 
        .content-subheading
          | A single-page application in Knockout.js. 
        .content-paragraph         
          | Highlights the location of startups in the area and displays relative information about each. 
          | Integrates various data points from the Google Maps API and the Lever API.
        .content-paragraph         
          | An MVVM pattern is implemented (through 
          b  ES6  
          | and 
          b  Knockout.js 
          | ) to create a reactive application able 
          | to handle the various functionality: list, filters, and information on the page subject to changing state.
        .content-subheading
          | I developed the same app in Vue.js as a means of learning and comparing different frameworks.
        .content-paragraph
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie gummi bears
          b  toffee 
          | lemon drops bonbon pie cake. Danish soufflé
          | brownie soufflé jelly biscuit.
        .content-heading Tech stack
        ul.tech
          li
            img.tech-icon(src='./style/images/html5.svg', alt='HTML5')
            | HTML
          li
            img.tech-icon(src='./style/images/css3.svg', alt='CSS')
            | CSS
          li
            img.tech-icon(src='./style/images/js.svg', style='width: 20px', alt='JavaScript')
            | JavaScript
          li
            img.tech-icon(src='./style/images/knockoutjs.svg', alt='Backbone.js')
            | Knockout.js
        div(style='text-align: center; margin-top: -22px;')
          a(href="https://github.com/stoico/startup-map/" title="Read the code on GitHub" target="_blank")
            .button-border
              .button-action
                img.button-icon(src='./style/images/github.svg', alt='Github')
                | GitHub
  .project-navigation-bar
    .navigate-arrow.text-align-right
      .navigate-button
        span(style='margin-right: 20px;') ⟵
        |               Previous project
    .line-separator
    .navigate-arrow.text-align-left
      .navigate-button
        | Next project
        span(style='margin-left: 20px;') ⟶
