.main-container.blue-gradient
  include ../particles/toggle-switch.pug
  .content-container
    .content-title Startup Map - Knockout.js
    .content-body
      .poster-image
        img(srcset='\
        ./style/images/image@2x.png 2x,\
        ./style/images/image.png    1x\
        ', src='./style/images/image.png')
      article.article-width
        div(style='text-align: center; margin-top: -42px;')
          .button-border
            .button-action
              img.button-icon(src='./style/images/eye.svg', alt='See demo', style='width: 24px')
              | Demo
        .content-heading Description
        .content-subheading
          | One-liner to explain what the project consists of
        .content-paragraph
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie gummi bears
          b toffee
          |  lemon drops bonbon pie cake. Danish soufflé
          |                 brownie soufflé jelly biscuit.
        .content-paragraph
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie 
          b gummi bears
          |  toffee
          |                 lemon drops bonbon pie cake. Danish soufflé brownie soufflé
          |                 jelly biscuit.
        .content-heading Tech stack
        ul.tech
          li
            img.tech-icon(src='./style/images/html5.svg', alt='HTML5')
            | HTML
          li
            img.tech-icon(src='./style/images/css3.svg', alt='CSS')
            | CSS
          li
            img.tech-icon(src='./style/images/js.svg', style='width: 20px', alt='JavaScript')
            | JavaScript
          li
            img.tech-icon(src='./style/images/knockoutjs.svg', alt='Backbone.js')
            | Knockout.js
        div(style='text-align: center; margin-top: -22px;')
          .button-border
            .button-action
              img.button-icon(src='./style/images/github.svg', alt='Github')
              | GitHub
  .project-navigation-bar
    .navigate-arrow.text-align-right
      .navigate-button
        span(style='margin-right: 20px;') ⟵
        |               Previous project
    .line-separator
    .navigate-arrow.text-align-left
      .navigate-button
        | Next project
        span(style='margin-left: 20px;') ⟶
