.main-container.blue-gradient
  include ../particles/toggle-switch.pug
  .content-container
    .content-title Startup Map Backbone.js
    .content-body
      .poster-image
        img(srcset='\
        ./style/images/4-screens-v1@2x.png 2x,\
        ./style/images/4-screens-v1.png    1x\
        ', src='./style/images/4-screens-v1.png')
      article.article-width
        .project-summary
          .column
            .content-subheading Goal
            p Learn everything I could to build a successful app.
          .column
            .content-subheading Summary
            p One-liner to explain what the project consists of

        .content-heading Overview
        .content-subheading Goal
        .content-paragraph
          | Before working on this side project I had only ever developed web apps. 
          | I wanted to 
          b  challenge myself to learn something new 
          | by building a cross-platoform
          | native app with React Native and JavaScript. 
        .content-paragraph
          | I didn't think I could do it so I wanted to challenge this limiting belief.
          | It's now a working progress.
        .content-subheading Motivation
        .content-paragraph
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie gummi bears
        .content-heading Description
        .content-subheading
          | One-liner to explain what the project consists of
        .content-paragraph
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie gummi bears
          b toffee
          |  lemon drops bonbon pie cake. Danish soufflé
          | brownie soufflé jelly biscuit.
        .content-paragraph
          | Cupcake ipsum dolor sit amet liquorice. Sesame snaps cake
          | chocolate bar I love. Caramels pie 
          b gummi bears
          |  toffee
          | lemon drops bonbon pie cake. Danish soufflé brownie soufflé
          | jelly biscuit.
        div(style='text-align: center;')
          .button-border
            .button-action.inactive
              img.button-icon(src='./style/images/github.svg', alt='Github')
              | GitHub
        div(style='text-align: center; margin-top: 4px; font-size: 14px;')
          | Private. Available on request.
  .project-navigation-bar
    .navigate-arrow.text-align-right
      .navigate-button
        span(style='margin-right: 20px;') ⟵
        |               Previous project
    .line-separator
    .navigate-arrow.text-align-left
      .navigate-button
        | Next project
        span(style='margin-left: 20px;') ⟶
