.main-container.just-blue-gradient
  include ../particles/toggle-switch.pug
  .content-container
    .content-title The UX of Casual Online Learning
    .content-body
      article.article-width
        .content-heading Aim
        .content-paragraph
          | This research aims to deeply understand the users’ process and their needs in 
          | relation to 
          b learning new topics online 
          | and to investigate whether it would be 
          | possible to make online learning experience significantly better.
        div(style='text-align: center;')
          .button-border
            a(href="../../style/documents/report-online-learning.pdf" target="_blank")
              .button-action(style='font-size: 18px;')
                img.button-icon(src='./style/images/file.svg', alt='Github' style="margin-right: 10px;")
                | Full Case Study .pdf
        div(style='text-align: center; margin-top: 4px; font-size: 14px;')
          | 10.6 MB
  .project-navigation-bar
    .navigate-arrow.text-align-right
      .navigate-button
        span(style='margin-right: 20px;') ⟵
        |               Previous project
    .line-separator
    .navigate-arrow.text-align-left
      .navigate-button
        | Next project
        span(style='margin-left: 20px;') ⟶
