.main-container.just-blue-gradient
  include ../particles/toggle-switch.pug
  .content-container
    .content-title User Research of paper cup recycling
    .content-body
      article.article-width
        .content-heading Description
        .content-paragraph
          | Investigating the behavioural pattern of university students from 
          | purchase to disposal of paper cups, in order to identify the biggest 
          | barriers to correct recycling.
        div(style='text-align: center;')
          .button-border
            a(href="../../style/documents/report-paper-cup.pdf" target="_blank")
              .button-action(style='font-size: 18px;')
                img.button-icon(src='./style/images/file.svg', alt='Case study' style="margin-right: 10px;")
                | Full Case Study .pdf
        div(style='text-align: center; margin-top: 4px; font-size: 14px;')
          | 4.2 MB
  .project-navigation-bar
    .navigate-arrow.text-align-right
      .navigate-button
        span(style='margin-right: 20px;') ⟵
        |               Previous project
    .line-separator
    .navigate-arrow.text-align-left
      .navigate-button
        | Next project
        span(style='margin-left: 20px;') ⟶
