.main-container.blue-gradient
    if page.title === 'Portfolio'
        include ../particles/toggle-switch.pug
    .content-container
        .content-title Portfolio
        .project-body
            .project-category.first-category
                | User Experience Design
            .project-category.second-category
                | Software Development
            .project-container.first-category-bg
                .project-poster
                    //
                        <img
                        srcset="
                        ./style/images/affinity-diag@2x.jpg 2x,
                        ./style/images/affinity-diag.jpg    1x
                        "
                        src="./style/images/affinity-diag.jpg"
                        alt="Startup map project"
                        />
                a(href='project.html')
                    .project-title
                        | The UX of Casual Online Learning
            .project-container.second-category-bg
                .project-poster

                .ring-container
                    .ringring
                    .circle
                .project-title
                    | Cross-platform native app - React Native
            .project-container.first-category-bg
                .project-poster

                .project-title
                    | The needs of product makers
            .project-container.second-category-bg
                .project-poster

                .project-title Startup Map - Knockout.js
            .project-container.first-category-bg
                .project-poster

                .project-title
                    | Holland & Barrett - Voice User Interface
            .project-container.second-category-bg
                .project-poster

                .project-title
                    | Full-stack python web app - Flask
