.main-container.just-blue-gradient
  include ../particles/toggle-switch.pug
  .content-container
    .content-title Full-stack Python web app
    .content-body
      .poster-image
        img(srcset='\
        ./style/images/fullstack-cover@2x.png 2x,\
        ./style/images/fullstack-cover.png    1x\
        ', src='./style/images/fullstack-cover.png')
      article.article-width
        div(style='text-align: center; margin-top: -42px;')
          a(href="http://34.228.221.76.xip.io/" title="Project live demo" target="_blank")
            .button-border
              .button-action
                img.button-icon(src='./style/images/eye.svg', alt='See demo', style='width: 24px')
                | Demo
        .content-heading Description
        .content-subheading
          | Flask app with SQLite and Google Authentication
        .content-paragraph
          | A simple web application different catalogs and the content of each. 
          | The application allows the user to register via a Google Account and 
          | can add catalogs and items. Items can only be edited or modified by the 
          | user who created them. Furthermore, APIs provide access to the catalogs 
          | and their contents.
        .content-heading Deployment
        .content-subheading Deployment struggles
        .content-paragraph
          | The hardest part was deploying the app.
          | Deploying the web app presented challenges I had never faced before,
          | as I had to configure the 
          b  Apache 
          | webserver and 
          b  mod_wsgi 
          | to work with  
          b  Flask
          | . What I thought would be a simple deplyoment resulted in days to get everything 
          | to work. 
          .content-paragraph
          | A myriad of configurations that I had taken for granted on my local machine, 
          | became problems when trying to deploy in production.
          | This challenges made me appreciate and start studying 
          b  Docker.
        div(style='text-align: center; margin-top: 20px;')
          a(href="https://github.com/stoico/python-flask-catalog" title="Read the code on GitHub" target="_blank")
            .button-border
              .button-action
                img.button-icon(src='./style/images/github.svg', alt='Github')
                | GitHub
  .project-navigation-bar
    .navigate-arrow.text-align-right
      .navigate-button
        span(style='margin-right: 20px;') ⟵
        |               Previous project
    .line-separator
    .navigate-arrow.text-align-left
      .navigate-button
        | Next project
        span(style='margin-left: 20px;') ⟶
