.content
  .content-title.title-page React Native app for iOS and Android
  .content-subtitle 
    | Recommendation platform built with React Native and Firebase, for iOS and Android.
    | It allows circles of friends to share recommendations of what to watch next.
  .content-box
    .section
        img(srcset="./style/images/react-native-app@2x.png 2x, ./style/images/react-native-app.png 1x"
            src="./style/images/react-native-app.png"
            alt="React Native app")

div(style='text-align: center; margin-top: 15px')
    a(href="https://github.com/stoico/react-native-app" target="_blank")
      .ghost-button
        img.button-icon(src='./style/images/github.svg', alt='Github')
        | Github