.content
  .content-title.title-page Upliftey.com
  .content-subtitle Guided self-reflection app to build lasting self-esteem
  div(style="width: 960px; ")
  .grid-parent
    .div1.tile-style Test
    .div2.tile-style Test
    .wide.tile-style Test
    .div4.tile-style Test
    .div5.tile-style Test