.content
  .content-title.title-page Startup Map
  .content-subtitle 
    | A single-page Knockout.js application that integrates the Google Maps API
    | and the Lever API to display a map of startups, with possibility to filter by funding amount.
  .content-box
    .section
        img(srcset="./style/images/su-map@2x.png 2x, ./style/images/su-map.png 1x"
            src="./style/images/su-map.png"
            alt="Startup Map web app")

div(style='text-align: center; margin-top: 15px')
    a(href="https://stoico.github.io/startup-map/" target="_blank")
      .ghost-button
        img.button-icon
        | See demo
    a(href="https://github.com/stoico/startup-map" target="_blank")
      .ghost-button
        img.button-icon(src='./style/images/github.svg', alt='Github')
        | Github