.main-container.shorter-container.green-gradient
  .content-container
    .content-title UI work at a glance
    .project-body
      .ui-thumbnail
        img(src="../style/images/thumb.png")
      .ui-thumbnail
        img(src="../style/images/thumb.png")
      .ui-thumbnail
        img(src="../style/images/thumb.png")
      .ui-thumbnail
        img(src="../style/images/thumb.png")
      .ui-thumbnail
        img(src="../style/images/thumb.png")
      .ui-thumbnail
        img(src="../style/images/thumb.png")
